
<!DOCTYPE html>
<html lang="zh-hans" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>首页</title>

    <!-- Icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="css/style.css" rel="stylesheet">

</head>



<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">☰</a>
        </li>


    </ul>
    <ul class="nav navbar-nav ml-auto">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <img src="img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="hidden-md-down">欢迎,<strong><span th:text="${attributes.username}"></span></strong></span>
            </a>
        </li>

    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/"><i class="icon-pie-chart"></i> 首页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bxtx"><i class="icon-pie-chart"></i> 办学体系</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bxgm"><i class="icon-pie-chart"></i> 办学规模</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cgb"><i class="icon-pie-chart"></i> 村干部学历提升</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/gbzx"><i class="icon-pie-chart"></i> 干部在线学习</a>
                </li>

            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="icon-home">&#xe67f;</i><span class="c-gray en">&gt;</span> 云南开放大学数据中心</li>


            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-menu hidden-md-down">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-secondary" href="#"><i class="icon-settings"></i> &nbsp;<!--设置--></a>
                </div>
            </li>
        </ol>

        <div class="container-fluid">
            <div class="animated fadeIn">

                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> 资产管理系统
                            </div>
                            <!--内容填写-->
                            <div class="card-block" id="container1" style="min-width:400px;height:400px">


                            </div>
                        </div>
                    </div>
                    <!--/.col-->

                    <div class="col-lg-4" >
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i>综合信息服务平台
                            </div>
                            <div class="card-block"id="container2" style="min-width:400px;height:400px">

                            </div>

                        </div>
                    </div>
                    <!--/.col-->

                    <div class="col-lg-4" >
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i>成人教育管理系统
                            </div>
                            <div class="card-block"id="container3" style="min-width:400px;height:400px">

                            </div>

                        </div>
                    </div>
                    <!--/.col-->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-align-justify"></i> 村干部学历提升办学点位置图
                            </div>
                            <div class="card-block" style="min-width:400px;height:500px">
                                <iframe name="mainFrame" id="mainFrame" frameborder="0" src="http://192.168.141.8/map.html?ID=3" style="width:100%;height: 100%;border:1px solid #096DA6" scrolling="auto"></iframe>
                            </div>
                        </div>
                    </div>
                    <!--/.col-->
                </div>
            </div>

        </div>
        <!-- /.conainer-fluid -->

    </main>

</div>

<footer class="app-footer">
        <span >
        Copyright &copy; 2018.云南开放大学数据中心。
        </span>
</footer>
<!-- Bootstrap and necessary plugins -->
<script type="text/javascript"src="assets/js/libs/jquery.min.js"></script>
<script src="assets/js/libs/tether.min.js"></script>
<script src="assets/js/libs/bootstrap.min.js"></script>
<script src="assets/js/libs/pace.min.js"></script>
<!-- Plugins and scripts required by all views -->
<script src="assets/js/libs/Chart.min.js"></script>


<!-- GenesisUI main scripts -->

<script src="js/app.js"></script>
<pre name = "code" class="html"></pre>

</body>

</html>